/*REPORTS*/

  .tabs {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%; 
  }

  .tab {
    padding: 10px 20px;
    cursor: pointer;
    width: 100%; 
  }

  .tabs-container {
    display: flex;
    justify-content: space-between;
  }
  
  .tab.active {
    background-color: #F68E2F;
  }

  .reports-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
    justify-content: center; 
    background-color: #333;
  }

  @media (max-width: 767px) {
    .reports-container {
      height: 100vh; 
    }
  }  

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%; 
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  /*ACCOUNT*/

  body {
    background-color: #454F5C;
    margin: 0;
    padding: 0;
  }

  .container-accounts {
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  
  .collapsible-container {
    background-color: #343B4B;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
  }

  .container {
    width: 100%;
    display: grid;
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
    }
  }

  .collapsible-header {
    color: #F68E2F;
    padding-top: 3px;
  }
  
  .collapsible-container, .table-container {
    width: 100%;
    max-width: 100%;
  }

  /*ACCOUNT TABLE*/
  
  .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .custom-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
  }

  .custom-table th {
    text-align: center;
  }  
  
  .custom-table td:first-child {
    text-align: left;
  }
  
  .custom-table td:last-child {
    text-align: right;
  }

  .second-table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #767B86;
    border: 0.5px solid white;
  }
  
  .second-table th {
    background-color: #343B4B;
    color: white;
  }

  .custom-table-second {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
  }

  .custom-table-second th {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }  

  .custom-table-second td {
    text-align: center;
    min-width: 30px; 
    font-size: 11px;
  }
  .custom-table-box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .collapsible-header {
    flex: 1;
  }
  
  .resume-table {
    position: sticky;
    right: 0;
    top: 0;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
  }
  
  .resume-table table {
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .resume-table td {
    padding: 2px 8px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    min-width: 80px;
  }

  .blue-text {
    color: rgb(102, 102, 255);
    font-weight: bold;
  }
  
  .red-text {
    color: rgb(248, 77, 77);
    font-weight: bold;
  }

  .white-text {
    color: white;
    font-weight: bold;
  }

  .text-resume-table{
    font-size: 10px;
    color: #767B86;
    font-weight: bold;
  }
  
  .custom-table-box {
    display: flex;
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan en pantallas pequeñas */
    overflow-x: auto; /* Añade desplazamiento horizontal si no hay suficiente espacio */
  }
  
  @media (max-width: 767px) {
    .custom-table-box {
      flex-wrap: wrap;
      overflow-x: auto;
      display: block; /* Cambia a apilamiento para tamaños de pantalla más pequeños */
    }
  }  
  
  @media (max-width: 767px) {
    .custom-table-box {
      flex-wrap: wrap;
    }
  }
  
  /*MENU FOOTER*/

  .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /*BOTONES*/

  .container-button{
    padding-top: 20px;
  }

  .custom-button {
    height: 25px;
    width: 150px;
    background-color: #FC7404;
    color: white;
    border: 0.5px solid #FC7404;
    border-radius: 3px;
    cursor: pointer;
    padding: 0px 0px 0px 0px; 
    display: inline-block; 
    white-space: nowrap;
  }

  .custom-button,
  .custom-button:visited,
  .custom-button:hover,
  .custom-button:active {
    text-decoration: none;
    color: white;
    outline: none;
  }

  .custom-centered-button {
    margin: 0 auto; 
    display: block; 
  }

  .custom-centered-button a {
    text-decoration: none;
    color: inherit; 
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; 
  }
  
  /*INDICATOR*/

  .table-container-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    overflow-x: auto;
  }

  .custom-table-indicator {
    width: 80%; 
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
  }
  

  .custom-table-indicator tr{
    color: white;
    font-size: 1em;
    border: 1px solid #ddd;
  }

  .custom-table-indicator td,
  .custom-table-indicator th {
    color: white;
    border: 1px solid #ddd;
  }

  .pc1.blue-text {
    color: rgb(102, 102, 255);
    font-weight: bold;
  }
  
  .pc1.red-text {
    color: rgb(248, 77, 77);
    font-weight: bold;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
  }

  div.space {
    margin-bottom: 80px;
  }  

  /* NOTICES */
  .container-notices {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .custom-button {
    margin-bottom: 20px;
  }
  
  .table-container-notices {
    overflow-x: auto;
    width: 100%;
    margin-top: 20px;
  }
  
  .custom-table-notices {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    table-layout: auto;
  }
  
  .custom-table-notices td,
  .custom-table-notices th {
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    color: white;
  }

  .date-picker-container {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .label-container {
    margin-right: 20px; 
  }

  .datePicker {
    color: #0442fc;
  }
  
  
  @media only screen and (max-width: 600px) {
    .custom-table-notices {
      font-size: 10px;
    }
  }

  a.link-white {
    color: rgba(255, 255, 255, 0.776) !important;
    text-decoration: none;
  }
  
  